    /* General styling */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: 400;
    }

    .navbar-img {
        height: 50px;
    }

    .bg-light {
        background-color: #e0e0e0 !important;
    }

    .main-content {
        width: 100%;
        min-height: 300px;
        padding: 1rem;
        padding-top: 5rem;
    }

    .card-row {
        justify-content: space-around;
    }

    .card {
        width: 26rem;
        height: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 2rem;
    }

    .card-img-top {
        height: 450px;
        /* Adjusted image height */
    }

    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 1rem 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        font-size: 14px;
    }

    .card-footer {
        border: none;
        background-color: white;
    }

    .checkout-section {
        background-color: #ffffff;
        padding: 20px;
        border: 1px solid #e2e2e2;
        border-radius: 10px;
        margin-top: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .checkout-details {
        display: flex;
        justify-content: space-between;
    }

    .checkout-book {
        display: flex;
    }

    .checkout-book-image {
        width: 100px;
        height: 150px;
        object-fit: cover;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-right: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .checkout-book-info {
        display: flex;
        flex-direction: column;
    }

    .checkout-book-title {
        font-size: 1.5em;
        margin: 0;
    }

    .checkout-book-author {
        color: #555;
        margin: 5px 0;
    }

    .checkout-book-description {
        color: #666;
    }

    .checkout-form {
        width: 100%;
        margin-top: 20px;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }