/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color: #938F8F;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.social-media img {
    height: 49px;
    width: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 20px;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

nav a {
    text-decoration: none;
    color: white;
}

.contact-info p {
    margin: 0;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    margin-right: 10px;
}

/* Style the main content section */
.main-content {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content h1 {
    font-size: 36px;
}

.main-content p {
    font-size: 18px;
    margin-top: 20px;
}

/* Apply styles to the carousel container */
#carouselExampleControls {
    width: 100%;
    max-height: 300px;
}

/* Apply styles to the images inside the carousel */
.carousel-inner img {
    width: 100%;
    max-height: 300px;
    object-fit: fill;
}

/* Add a class to the card to prevent overlap with the carousel */
.card {
    margin-top: 20px;
    /* Add some spacing below the carousel */
}

/* Style the footer */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.list-group-item {
    border: none !important;
    font-weight: 700;
    background: #EBE8E8 !important;
}

.card-body {
    background: #EBE8E8;
}